<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Phonecase</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Phonecase.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Leisure" asp-action="Dashboard">Phonecase</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!-- Home Link -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Leisure" asp-action="Index"><strong>Leisure</strong></a>
                        </li>

                        <!-- Inventory Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownInventory" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Inventory
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownInventory">
                                <li>
                                    <a class="dropdown-item" asp-controller="Management" asp-action="Index">Management</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Product" asp-action="Index">Product</a>
                                </li>
                            </ul>
                        </li>

                        <!-- Vendor Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownVendor" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Vendor
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownVendor">
                                <li>
                                    <a class="dropdown-item" asp-controller="Vendor" asp-action="Index">Add/Remove Vendor</a>
                                </li>
                            </ul>
                        </li>

                        <!-- Record Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownRecord" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Records
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownRecord">
                                <li>
                                    <a class="dropdown-item" asp-controller="Record" asp-action="Index">Add New Record</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="History" asp-action="PurchaseHistory">View Purchase History</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="History" asp-action="PaymentHistory">View Paymet History</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>